# ignore adobe illustrator files
*.ai

# ignore files containing secrets
*.env

# ignore compiled python scripts
*.pyc

# ignore local/generated data collection files
/dataCollection/**

# ignore local dependency installs
/.deps/**

